# Setup scripts
# setup.ps1 # Adding setup.ps1 to main for study purposes
# setup.sh

# Virtual environments
venv/
.venv/
ENV/
env/

# VSCode settings
.vscode/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# Python files
# extensions_testing.py

# Python boilerplate (cookiecutter testing)
/day_2_shell_venv_codebase/python-boilerplate/

# OS files
.DS_Store
Thumbs.db