# Virtual environments
venv/
.venv/
ENV/
env/

# VSCode settings
.vscode/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db